<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Technical Issue</h1>
    <p>Working on this issue, Sorry.</p>

<%- include('includes/end.ejs') %>