.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}
.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.product-item {
  width: 20rem;
  max-width: 95%;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}
.form-control{
  margin: 1rem 0;
}
.form-control label,
.form-control input,
.form-control textarea{
  display: block;
  width: 100%;
}
.form-control input,
.form-control textarea{
  border: 1px solid #333333;
  background-color: #333333;
  color: #eeeeee;
  font: inherit;
  outline: none;
}
.form-control input:focus,
.form-control textarea:focus{
  border: 1px solid #333333;
  background-color: #333333;
  color: #eeeeee;
  font: inherit;
}
button{
  font: inherit;
  border: 1px solid #3089af;
  background-color: #3089af;
  color: #eee;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
}
button:hover,
button:active{
  background-color: #03a9f4;
}